body {
    font-family: Arial, sans-serif;
  }
  
.btnDisponibilidad {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    position: relative;
  }
  
.btnDisponibilidad:hover {
  background-color: #223094;
}

.cuadroOpinion {
    outline: solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contenedorPrincipal {
    display: grid;
    grid-template-columns: auto;
    outline: solid;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    width: 60%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}