<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='factura.css') }}"
    />  
    <title>Confirmar Multiplex</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Volver Inicio</a>
    </div>
    <center>
        <h1>Confirmar Multiplex Factura {{ numFactura }}</h1>
    </center>
    <div class="contenedorPrincipal">
        <div class="factura">
            <h2 style="text-align: center;">Seleccione Multiplex</h2>
            <form action="/snacks" method="post">
                <center>
                <label for="multiplex">Seleccione Multiplex</label>
                    <select name="idMultiplex" id="multiplex">
                        {% for multi in multiplexValidos %}
                            <option value="{{ multi[0] }}">{{ multi[1] }} - {{ multi[5] }} {{ multi[6] }}</option>
                        {% endfor %}
                    </select><br><br>
                    <input type="submit" value="Comprar Snacks" class="btnDisponibilidad">
                </center>
            </form>
        </div>
    </div>
</body>
</html>